@use "../../styles/variables" as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background-color: rgb(26 26 26 / 0.3);
  color: #ffffff;
  cursor: pointer;
  flex-shrink: 0;

  &:hover {
    background-color: rgb(26 26 26 / 0.5);
  }
}